<header class="header">
  <div class="container page-header">
    <nav class="header-nav">
      <a
        href="index.html"
        class="header-title"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        ><span class="header-title two">TARAS</span> DEMCHENKO
      </a>
      <a
        href="index.html"
        class="header-logo-title"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <svg class="header-logo">
          <use href="/img/sprite.svg#icon-choco-logo24"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a
            href="index.html"
            class="header-item-link"
            data-aos="zoom-in"
            data-aos-delay="100"
            data-aos-duration="2000"
            data-aos-anchor=".header-title"
            >Home</a
          >
        </li>
        <li class="header-item">
          <a
            href="#how-its-made"
            class="header-item-link"
            data-aos="zoom-in"
            data-aos-delay="250"
            data-aos-duration="2000"
            >How it’s made?</a
          >
        </li>
        <li class="header-item">
          <a
            href="#our-products"
            class="header-item-link"
            data-aos="zoom-in"
            data-aos-delay="350"
            data-aos-duration="2000"
            >Our products</a
          >
        </li>
        <li class="header-item">
          <a
            href="#top-sellers"
            class="header-item-link"
            data-aos="zoom-in"
            data-aos-delay="450"
            data-aos-duration="2000"
            >Top sellers</a
          >
        </li>
        <li class="header-item">
          <a
            href="#reviews"
            class="header-item-link"
            data-aos="zoom-in"
            data-aos-delay="550"
            data-aos-duration="2000"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <button class="header-mobile-menu-open" data-modal-open>
      <svg class="header-mobile-menu-open-icon" width="28" height="28">
        <use href="/img/sprite.svg#icon-mob-burger"></use>
      </svg>
    </button>
    <ul class="header-icons-list">
      <li class="header-icons-item">
        <a href="#" class="header-icons-link">
          <svg class="header-promo">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-icons-item">
        <a href="#" class="header-icons-link">
          <svg class="header-promo">
            <use href="/img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="header-sidebar" data-modal>
    <button class="header-sidebar-link" data-modal-close>
      <svg class="header-sidebar-close">
        <use href="/img/sprite.svg#icon-close-modal24"></use>
      </svg>
    </button>
    <ul class="header-sidebar-list">
      <li class="header-sidebar-item">
        <a href="index.html" class="header-sidebar-item-link">Home</a>
      </li>
      <li class="header-sidebar-item">
        <a href="#how-its-made" class="header-sidebar-item-link"
          >How it’s made?</a
        >
      </li>
      <li class="header-sidebar-item">
        <a href="#our-products" class="header-sidebar-item-link"
          >Our products</a
        >
      </li>
      <li class="header-sidebar-item">
        <a href="#top-sellers" class="header-sidebar-item-link">Top sellers</a>
      </li>
      <li class="header-sidebar-item">
        <a href="#reviews" class="header-sidebar-item-link"
          >Chocolate is loved</a
        >
      </li>
    </ul>
    <ul class="header-sidebar-icons-list">
      <li class="header-sidebar-icons-item">
        <a href="#" class="header-sidebar-icons-link">
          <svg class="header-sidebar-promo">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-sidebar-icons-item">
        <a href="#" class="header-sidebar-icons-link">
          <svg class="header-sidebar-promo">
            <use href="/img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
