<div class="modal review" data-modal="3">
  <button
    type="button"
    class="modal-close-leave-a-review-btn js-modal-close"
    data-modal="3"
  >
    <svg class="modal-close-icon-leave-a-review" width="24" height="24">
      <use href="/img/sprite.svg#icon-close-modal24"></use>
    </svg>
  </button>
  <p class="modal-form-leave-a-review-title section-title">
    leave a review about <br />
    <span class="modal-leave-a-review-span">our chocolate</span>
  </p>

  <div class="modal-form-wrap-leave-a-review">
    <form class="modal-form-leave-a-review">
      <label class="modal-form-leave-a-review-field">
        <input
          class="modal-form-leave-a-review-input"
          placeholder="Name"
          required
          name="user_name"
          type="text"
          pattern="^[a-zA-Zа-яА-Я]+"
          minlength="2"
        />
      </label>
      <label class="modal-form-leave-a-review-field">
        <input
          class="modal-form-leave-a-review-input"
          placeholder="Enter your email"
          required
          name="user-mail"
          type="text"
        />
      </label>
      <label class="modal-form-leave-a-review-field">
        <span class="modal-form-phone-wrapper">
          <input
            class="modal-form-leave-a-review-input input-phone"
            placeholder="Phone number"
            required
            name="user-phone"
            type="tel"
            pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xx-xxx-xx-xx"
          />
          <svg class="flag-phone" width="24" height="24">
            <use href="/img/sprite.svg#icon-ukraine-flag"></use>
          </svg>
          <span class="modal-form-leave-review-input-tel-text">+380</span>
        </span>
      </label>
      <label class="modal-form-leave-a-review-field-message">
        <textarea
          required
          name="user_message"
          class="modal-form-leave-a-review-message"
          placeholder="Enter text"
        ></textarea>
      </label>
      <button class="modal-form-leave-a-review-btn btn" type="button">
        Send
      </button>
    </form>
  </div>
</div>
