<section class="section reviews" id="reviews">
  <div class="container slick-container">
    <h2 class="section-title reviews">
      <span class="section-title-accent reviews-accent">chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="review-content">
          <img
            srcset="/img/reviews/viktor.jpg 1x, /img/reviews/viktor@2x.jpg 2x"
            src="/img/reviews/victoria.jpg"
            alt="Victoria Dobrzhanska"
            width="80"
            height="80"
            class="reviews-img"
          />
          <div class="review-thumb">
            <h3 class="reviews-name">Victoria Dobrzhanska</h3>
            <p class="review-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="review-content">
          <img
            srcset="/img/reviews/nazar.jpg 1x, /img/reviews/nazar@2x.jpg 2x"
            src="/img/reviews/nazar.jpg"
            alt="Nazar Babenko"
            width="80"
            height="80"
            class="reviews-img"
          />
          <div class="review-thumb">
            <h3 class="reviews-name">Nazar Babenko</h3>
            <p class="review-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="review-content">
          <img
            srcset="/img/reviews/olena.jpg 1x, /img/reviews/olena@2x.jpg 2x"
            src="/img/reviews/olena.jpg"
            alt="Olena Kampusch"
            width="80"
            height="80"
            class="reviews-img"
          />
          <div class="review-thumb">
            <h3 class="reviews-name">Olena Kampusch</h3>
            <p class="review-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="review-content">
          <img
            srcset="/img/reviews/viktor.jpg 1x, /img/reviews/viktor@2x.jpg 2x"
            src="/img/reviews/victoria.jpg"
            alt="Victoria Dobrzhanska"
            width="80"
            height="80"
            class="reviews-img"
          />
          <div class="review-thumb">
            <h3 class="reviews-name">Victoria Dobrzhanska</h3>
            <p class="review-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="review-content">
          <img
            srcset="/img/reviews/nazar.jpg 1x, /img/reviews/nazar@2x.jpg 2x"
            src="/img/reviews/nazar.jpg"
            alt="Nazar Babenko"
            width="80"
            height="80"
            class="reviews-img"
          />
          <div class="review-thumb">
            <h3 class="reviews-name">Nazar Babenko</h3>
            <p class="review-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="review-content">
          <img
            srcset="/img/reviews/olena.jpg 1x, /img/reviews/olena@2x.jpg 2x"
            src="/img/reviews/olena.jpg"
            alt="Olena Kampusch"
            width="80"
            height="80"
            class="reviews-img"
          />
          <div class="review-thumb">
            <h3 class="reviews-name">Olena Kampusch</h3>
            <p class="review-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="btn reviews js-open-modal" data-modal="3">
      Leave a review
    </button>
  </div>
</section>
