<section class="section top-sellers" id="top-sellers">
  <div class="top-sellers-container container">
    <h2 id="top" class="section-title top-sellers-title title">
      <span class="top-sellers-title-span">TOP </span>SELLERS
    </h2>
    <ul class="top-sellers-list list">
      <li class="top-sellers-item">
        <div class="top-sellers-card">
          <picture>
            <source
              srcset="
                /img/top-sellers/coffeeand-mobile-1x.webp 1x,
                /img/top-sellers/coffeeand-mobile-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /img/top-sellers/coffeeand-mobile-1x.jpg 1x,
                /img/top-sellers/coffeeand-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /img/top-sellers/coffeeand-tablet-1x.webp 1x,
                /img/top-sellers/coffeeand-tablet-2x.webp 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/top-sellers/coffeeand-tablet-1x.jpg 1x,
                /img/top-sellers/coffeeand-tablet-2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/top-sellers/coffeeand-desktop-1x.webp 1x,
                /img/top-sellers/coffeeand-desktop-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/coffeeand-desktop-1x.jpg 1x,
                /img/top-sellers/coffeeand-desktop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <img
              class="top-sellers-pic"
              src="/img/top-sellers/coffeeand-desktop-1x.jpg"
              alt="chocolate with coffee and nuts"
            />
          </picture>
          <p class="top-sellers-text-one">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
          type="image/webp"
            srcset="
              /img/top-sellers/raisinand-mobile-1x.webp 1x,
              /img/top-sellers/raisinand-mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/top-sellers/raisinand-mobile-1x.jpg 1x,
              /img/top-sellers/raisinand-mobile-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
          type="image/webp"
            srcset="
              /img/top-sellers/raisinand-tablet-1x.webp 1x,
              /img/top-sellers/raisinand-tablet-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              /img/top-sellers/raisinand-tablet-1x.jpg 1x,
              /img/top-sellers/raisinand-tablet-2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <source
          type="image/webp"
            srcset="
              /img/top-sellers/raisinand-desktop-1x.webp 1x,
              /img/top-sellers/raisinand-desktop-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/top-sellers/raisinand-desktop-1x.jpg 1x,
              /img/top-sellers/raisinand-desktop-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="top-sellers-pic"
            src="/img/top-sellers/raisinand-desktop-1x.jpg"
            alt="chocolate with raisin and mint"
          />
        </picture>
      </li>
      <li class="top-sellers-item third-foto">
        <picture>
          <source
          type="image/webp"
            srcset="
              /img/top-sellers/chocolate-1x.webp 1x,
              /img/top-sellers/chocolate-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/top-sellers/chocolate-1x.jpg 1x,
              /img/top-sellers/chocolate-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="top-sellers-pic"
            src="/img/top-sellers/chocolate-1x.jpg"
            alt="heap of chocolate"
          />
        </picture>
      </li>
    </ul>
    <div class="top-sellers-div">
      <p class="top-sellers-text-two">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="btn js-open-modal" data-modal="2">
        Pay now
      </button>
    </div>
  </div>
</section>
